{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "ACCESS": true
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended", "prettier"]
    },
    {
      "files": ["**/*.vue"],
      "parser": "vue-eslint-parser",
      "extends": ["plugin:vue/vue3-recommended", "prettier"]
    }
  ]
}
